*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-authors-mole-crypto.xml
draft-schlesinger-mole-architecture.xml
draft-schlesinger-mole-http-transport.xml
draft-schlesinger-mole-protocols.xml
package-lock.json
report.xml
!requirements.txt
